<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Car Rental</title>
</head>
<nav class="navbar navbar-expand-sm navbar-light bg-light main-nav">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Strona główna</a>
            </li>
            <div sec:authorize="hasAuthority('PRACOWNIK')">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/new">Dodaj pojazd</a>
                </li>
            </div>
            <div sec:authorize="hasAuthority('PRACOWNIK')">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/clients_data">Dane klientów</a>
                </li>
            </div>
        </ul>

        <ul class="navbar-nav navbar-right">
            <div sec:authorize="hasAuthority('KLIENT')">
                <a class="btn btn-success my-2 my-sm-0 mx-2" th:href="@{/auth/client}">Moje konto</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="POST">
                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Wyloguj się">
                </form>
            </div>

            <div sec:authorize="isAnonymous()">
                <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/login}">Zaloguj się</a>
                <a class="btn btn-success my-2 my-sm-0" th:href="@{/register}">Zarejestruj się</a>
            </div>
        </ul>
    </div>
</nav>
<body>
<div align="center">
    <br/><br/>

    <div class="px-4 py-5 my-5 text-center">
        <div sec:authorize="isAuthenticated()">
            <h1 class="display-5 fw-bold">Konto użytkownika <span sec:authentication="name"></span></h1>
        </div>
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Data urodzenia</th>
                <th>Nr prawa jazdy</th>
                <th>Nr dokumentu tozsamosci</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "client : ${klienciList}">
                <td th:text = "${client.id}">ID</td>
                <td th:text = "${client.imie}">Nazwa modelu</td>
                <td th:text = "${client.nazwisko}">Rok producji</td>
                <td th:text = "${client.dataUrodzenia}">Nazwa modelu</td>
                <td th:text = "${client.nrPrawaJazdy}">Nazwa modelu</td>
                <td th:text = "${client.nrDokumentuTozsamosci}">Nazwa modelu</td>
                <td>
                    <a class="btn btn-primary" th:href="@{'/auth/edit_client'}" role="button">Edytuj</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="px-4 py-5 my-5 text-center">
        <h2 class="display-6 fw-bold">Twoje wypożyczenia:</span></h2>
    </div>


    <div class="col-md-5">
        <table class="table table-responsive table-xl">
            <thead>
                <tr>
                    <th>Szczegóły pojazdu:</th>
                    <th>Data wypożyczenia:</th>
                    <th>Anuluj:</th>
                </tr>
            </thead>

            <body>
                <tr th:each = "wypozyczenie : ${rentList}">
                    <td th:text = "(${wypozyczenie.nrPojazdu.nrModelu.nrMarki.nazwa}) + ' ' + (${wypozyczenie.nrPojazdu.nrModelu.nazwa}) + ' (' + (${wypozyczenie.nrPojazdu.rokProdukcji}) + ')'">Szczegóły pojazdu:</td>
                    <td th:if="${wypozyczenie.dataZwrotu != null}" th:text = "'Od: ' +  (${wypozyczenie.dataWypozyczenia}) +  ' do: ' +  (${wypozyczenie.dataZwrotu})">Data wypożyczenia:</td>
                    <td th:if="${wypozyczenie.dataZwrotu == null}" th:text = "'Od: ' +  (${wypozyczenie.dataWypozyczenia}) + ', bezterminowo'">Data wypożyczenia:</td>
                    <td>
                        <a class="btn btn-danger" th:href="@{'/client/cancel/' + ${wypozyczenie.dataWypozyczenia}}" role="button">Anuluj</a>
                    </td>
                </tr>
            </body>
        </table>
    </div>
</body>