<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Rental</title>
</head>

<body>
    <div align="center">
<!--        Site title-->
        <h1>Car Rental</h1>

<!--        Entry to new page-->
        <a href="/new">Enter new sale</a>

        <br/><br/>

        <form th:action="@{/}" method="get">
            <tr>
                <td>Rok produkcji:</td>
                <td><input type="text" name="rok_produkcji"></td>
            </tr>
            <td>
                <td>Marka:</td>
                <select name="nr_marki" id="nrMarki">
                    <option th:each="marka : ${listMarka}"
                            th:value="${marka.id}"
                            th:text="${marka.nazwa}">
                    </option>
                </select>
            </td>
            <td>
                <td>Model</td>
                <select name="nr_modelu" id="nrModelu">
                    <option th:each="model : ${listModel}"
                            th:value="${model.id}"
                            th:text="${model.nazwa}">
                    </option>
                </select>
            </td>
            <tr>
                <td>Ilość miejsc:</td>
                <td><input type="number" name="ilosc_miejsc"></td>
            </tr>
            <td>
            <td>Model</td>
            <select name="rodzaj_paliwa">
                <option value="Benzyna">Benzyna</option>
                <option value="Diesel">Diesel</option>
                <option value="Elektryczny">Elektryczny</option>
            </select>
            </td>
            <tr>
                <td colspan="2"><button type="submit">Go</button></td>
            </tr>
        </form>

<!--        Sales table-->
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa modelu</th>
                    <th>Rocznik</th>
                    <th>Rodzaj paliwa</th>
                    <th>Ilosc miejscc</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "car : ${listCar}">
                    <td th:text = "${car.id}">ID</td>
                    <td th:text = "${car.nrModelu.nazwa}">Nazwa modelu</td>
                    <td th:text = "${car.rokProdukcji}">Rok producji</td>
                    <td th:text = "${car.rodzajPaliwa}">Rodzaj paliwa</td>
                    <td th:text = "${car.iloscMiejsc}">Ilosc miejsc</td>
                    <td>
                        <a th:href="@{'/edit/' + ${car.id}}">Edit</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a th:href="@{'/delete/' + ${car.id}}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
            var listModel /*= [[${listModel}]]*/;
        /*]]>*/

        document.getElementById('nrMarki').addEventListener('click', function() {
            console.log('Value: ', this.value);

            var data = filterData(this.value, listModel);
            rebuildSelect(data);
        })


        function filterData(value, dataList) {
            var filteredList = [];
            for (var i = 0; i < dataList.length; i++) {
                if (dataList[i].nrMarki.id == value) {
                    filteredList.push(dataList[i]);
                }
            }
            return filteredList;
        }

        function rebuildSelect(data) {
            var newSelect = document.getElementById('nrModelu');
            newSelect.innerHTML = `<select name="nrModelu" id="nrModelu">`;
            for (var i = 0; i < data.length; i++) {
                console.log(data[i]);
                newSelect.innerHTML +=
                       ` <option <option value="`+data[i].id+`">`+data[i].nazwa+`</option>`;
            }
            newSelect.innerHTML += `</select>>`;
        }

    </script>
</body>